/* fonts */
  
  html, body {
    font-family: 'Muli', sans-serif;
    color:#fff;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y:auto;
    background:#000;
    
  }

/**************************************/
/*styling for game loading list*/
  #game_list {
    list-style:none;
  }

/**************************************/
  .navbar {
    margin:0;
  }

  .navbar-default .navbar-brand {
  color: #fff;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #e7e7e7;
  }

  .navbar-default {
  /* background-color: #f8f8f8; */
  /* border-color: #e7e7e7; */
  background:transparent;
  }

  .navbar-inner {
    background:transparent;
  }

  .navbar-default .navbar-nav > li > a {
  color: #fff;
  }

  .test {
    position:absolute;
    top:0%;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    text-align: center;
    background-image:url(../assets/images/sunset.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:0;
  overflow-x: hidden;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }
  .navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
 border: none; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #555555;
background-color: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #fff;
background: none;
}

/* login button */
/* Custom default button */
.test a {
  color:#fff;
}

.lead {
  margin-top:25px;
}

.spaced{
  margin-top:45px;
  font-size: 21px;
}

a.loginBtn {
  text-decoration: none;
  color:#fff;
  border:2px solid #fff;
  padding:15px 35px;
}

a.loginBtn:hover,
a.loginBtn:focus {
  color: #a18d6c;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  opacity:0.6;
}


/*.cover-container {
margin-right: auto;
margin-left: auto;
}*/
.cover {
padding: 0 20px;
}
.inner {
  vertical-align: middle;
padding: 30px;
}
.site-wrapper-inner{
  display:table-cell;
  vertical-align: middle;
}

.gameTitle{
  font-size:12em;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 20px;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}


   /* Heads up display */
    #board_container{
        position:relative;
        width:100%;
        height:800px;
        overflow:hidden;
    }
    
    canvas {
      width:100%;
      height:100%;
      padding:0;
    }

    .full{
      position:relative;
      padding:0;
    }

    .hud-masthead{
        top:0;
        left:0;
        position:absolute;
        width:100%;
        background-color: #000;
        border-bottom:2px solid #f8f9e9;
/*        box-shadow: 0 -2px 5px rgba(75, 81, 69, 0.1) inset;*/
        box-shadow: 0 0 0 5px rgba(75, 81, 69, 0.1) inset;
        padding:12px 0 5px;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .hud-nav-item {
        color: #cdddeb;
        display: inline-block;
        font-weight: 500;
        padding: 10px;
        position: relative;
    }
    /* context separated content */
    .hudALeft {
        float:left;
    }
    .hudARight {
        float:right;
    }
    /* clears both floats so that HUD content can float both left and right */
    .cb {
        clear:both;
    }

   /* end HUD */

   /* begin die roll view */
   .diceHolder {
                position: absolute;
                top: 50px;
                left: 20px;
                width: 200px;
                height: 130px;
            }
   .diceHolder span.dicon img {
                margin-top: -30px;
            }
   .diceHolder span.num {

                font-family: "FontAwesome";
                color: rgb(37,37,37);
                text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
                font-size: 54pt;
                display: block;
                position: absolute;
                text-decoration: none;
                  background-color:#fff;
/*                background-color: rgb(83,87,93);*/
                box-shadow: 0px 3px 0px 0px rgb(34,34,34), 
                            0px 5px 7px 0px rgb(17,17,17), 
                            inset 0px -12px 35px 0px rgba(0, 0, 0, .5); 
                width: 125px;
                height: 125px;
                border: 0;
                border-radius: 69px;
                text-align: center;
                line-height: 117px;
                top: 0px;
                left: 60px;
                border:5px solid #e1e1e1;
            }
            .diceHolder span.dicon {
                 font-family: "FontAwesome";
                 color: rgb(37,37,37);
                 text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
                 font-size: 32pt;
                 display: block;
                 position: relative;
                 text-decoration: none;
                   background-color: #fff;
/*                 background-color: rgb(83,87,93);*/
                box-shadow: 0px 1px 0px 0px rgb(34,34,34), 
                            0px 1px 3px 0px rgb(17,17,17), 
                            inset 0px -12px 35px 0px rgba(0, 0, 0, .5); 
                 width: 60px;
                 height: 60px;
                 border: 0;
                 border-radius: 50%;
                 text-align: center;
                 line-height: 79px;
                 border:5px solid #e1e1e1;
/*                 border:5px solid;
                 border-top-color:#836b33;
                 border-right-color:#836b33;
                 border-left-color:#ede8c2;
                 border-bottom-color:#ede8c2;*/
             }
             .diceHolder span.dicon:before{
                                /* gradient border */
                content:'';
                position:absolute;
                left:-5px;
                top:-5px;
                z-index: -1;
                border-radius:50%;
                width: 70px;
                height: 70px;
                background: -moz-linear-gradient(-45deg, #f5f2dc 0%, #6b5729 100%);
                    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5f2dc), color-stop(100%,#6b5729));
                    background: -webkit-linear-gradient(-45deg, #f5f2dc 0%,#6b5729 100%);
                    background: -o-linear-gradient(-45deg, #f5f2dc 0%,#6b5729 100%);
                    background: -ms-linear-gradient(-45deg, #f5f2dc 0%,#6b5729 100%);
                    background: linear-gradient(135deg, #f5f2dc 0%,#6b5729 100%);
             }

            .diceHolder span:before {
                content: "";
                width: 80px;
                height: 80px;
                display: block;
                z-index: -2;
                position: absolute;
                background-color: rgb(26,27,29);
                left: -5px;
                top: -2px;
                border-radius: 40px;
                box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
                            inset 0px 1px 2px rgba(0, 0, 0, 0.5);

            }
            
   /* end die roll view */

  /* begin button holder view */
    .buttonHolder {
      width:430px;
      height:100px;
      position:absolute;
      top:42px;
      right:0;

    }
    .buttonHolder a.tlk, .buttonHolder a.bld, .buttonHolder a.trd, .buttonHolder a.end {
    font-family: "FontAwesome";
    color: rgb(37,37,37);
    text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
    font-size: 54pt;
    display: block;
    position: absolute;
    text-decoration: none;
    background-color: #fff;
    /* background-color: rgb(83,87,93); */
    box-shadow: 0px 3px 0px 0px rgb(34,34,34), 0px 5px 7px 0px rgb(17,17,17), inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
    width: 80px;
    height: 80px;
    border: 0;
    text-align: center;
    line-height: 117px;

    border: 5px solid #e1e1e1;
    }
    .buttonHolder a.tlk {
          top: 0px;
          left: 10px;
          width: 60px;
          height: 60px;
          border-radius:50%;
    }
    .buttonHolder a.tlk img{
          margin-top:-70px;
    }

    .buttonHolder a.bld {
      top: 10px;
      left: 80px;
    }
    .buttonHolder a.bld img{
      margin-top:-51px;
    }

    .buttonHolder a.trd {
      top: 10px;
      left: 170px;
    }
    .buttonHolder img {
      margin-top:-52px;
    }

    .buttonHolder a.end {
      top: 10px;
      left: 260px;
    }

    .buttonHolder a:active {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34), /* 1st Shadow */ 0px 3px 7px 0px rgb(17,17,17), /* 2nd Shadow */ inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */ inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
    background-color: rgb(83,87,93);
    }

  /* end button holder view  */

    /* begin player display */
    .app {
    background:none;
    margin:none;
  }
    #playerBoard{
        color:#fff;
        bottom:0px;
        right:0;
        position:absolute;
        width:400px;
        margin:0;
    }
    .list-group-item {
    position: relative;
    display: block;
    /* padding: 10px 15px; */
    margin-bottom: -1px;
    background-color: #000;
    opacity:0.7;
    border-bottom: 1px solid #ddd;
    }
    .media-body {
        text-align:left;
        margin:0 auto !important; 
       display:inline-block;
       font-size:18px;
       padding-top: 3%;
    }

    /* end player display */
    /* test buttons*/
    :before, :after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .bs-example {
      position: relative;
      padding: 45px 15px 15px;
      margin: 0 -15px 15px;
      border-color: #e5e5e5 #eee #eee;
      border-style: solid;
      border-width: 1px 0;
      -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
      box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    }

    .bs-example:after {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 12px;
      font-weight: 700;
      color: #959595;
      text-transform: uppercase;
      letter-spacing: 1px;
      content: "Test Build";
    }

   /**/

    .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
