<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="!gameIsLoaded && userIsLoggedIn">
<button ng-click="createNewGame()"> create a new game </button>
<button ng-click="loadPreviousGame()"> load an older game </button>
</div>

<div ng-if="userIsLoggedIn && gameIsLoaded">
<board></board>
        <div class="container">
          <div class="bs-example">
            <div class="btn-toolbar" role="toolbar">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Build
              </button>
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Trade
              </button>
            </div>
          </div>
        </div>
</div>

<div ng-if="!userIsLoggedIn">
you should log in bro
<button ng-click="facebookLoginFunction()">facebook login</button>
</div>

<!-- <div id="board_preview_inputs">
	<input type="text" ng-model="main_ctrl.small_num" />
	<input type="text" ng-model="main_ctrl.big_num" />
	<button type="button" class="btn btn-success" ng-click="main_ctrl.makeBoard()">Preview Board</button>
</div> -->
<!--  -->
<!-- 
<div id='messagesDiv'></div>
    <input type='text' id='nameInput' placeholder='Name'>
    <input type='text' id='messageInput' placeholder='Message'>
    <script type='text/javascript'>
      var myDataRef = new Firebase('https://flickering-heat-2888.firebaseio.com/' + gameID + '/chat');
      $('#messageInput').keypress(function (e) {
        if (e.keyCode == 13) {
          var name = $('#nameInput').val();
          var text = $('#messageInput').val();
          myDataRef.push({name: name, text: text});
          $('#messageInput').val('');
        }
      });
      function printChatMessage(name, text) {
        $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
        $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
      };
      myDataRef.on('child_added', function(snapshot) {
        var message = snapshot.val();
        printChatMessage(message.name, message.text);
      });
</script> -->