<div class="site-wrapper-inner test">
  <div class="inner cover">
    <h3 ng-if='!!main_ctrl.player_name'>Welcome to Catan, {{main_ctrl.player_name}}.</h3>
    <h1 class="cover-heading gameTitle">CASTAN</h1>
    <div ui-view>
      <p class="lead">
        <a ng-click="loginOauth()" class="loginBtn" href="">LOGIN WITH FACEBOOK</a>
      </p>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <span>A FAT (Firebase, Angular, ThreeJS) stack translation of <a href="http://www.catan.com/">Settlers of Catan &copy; </a></span>
        <span> | Team Castan - class 110 <a href="http://www.fullstackacademy.com/">@Fullstack Academy</a>.</span>
      </div>
    </div>

  </div>
</div>

<!-- <div id='messagesDiv'></div>
    <input type='text' id='nameInput' placeholder='Name'>
    <input type='text' id='messageInput' placeholder='Message'>
    <script type='text/javascript'>
      var myDataRef = new Firebase('https://flickering-heat-2888.firebaseio.com/' + gameID + '/chat');
      $('#messageInput').keypress(function (e) {
        if (e.keyCode == 13) {
          var name = $('#nameInput').val();
          var text = $('#messageInput').val();
          myDataRef.push({name: name, text: text});
          $('#messageInput').val('');
        }
      });
      function printChatMessage(name, text) {
        $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
        $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
      };
      
      myDataRef.on('child_added', function(snapshot) {
        var message = snapshot.val();
       printChatMessage(message.name, message.text);
      });
</script> -->
