<div class="site-wrapper-inner test">
  <div class="inner cover">
    <h3 ng-if='!!main_ctrl.player_name'>Welcome to Catan, {{main_ctrl.player_name}}.</h3>
    <h1 class="cover-heading gameTitle">CASTAN</h1>
    <div ui-view>
      <p class="lead">
        <a ng-click="loginOauth()" class="loginBtn" href="">LOGIN WITH FACEBOOK</a>
      </p>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <span>A FAT (Firebase, Angular, ThreeJS) stack translation of <a href="http://www.catan.com/">Settlers of Catan &copy; </a></span>
        <span> | Team Castan - class 110 <a href="http://www.fullstackacademy.com/">@Fullstack Academy</a>.</span>
      </div>
    </div>

  </div>
</div>