<div id="board_container">
	<div class="hud-masthead">
				<!-- HUD -->
				<ul id="menu" class="hudALeft">
					<li>
			  <div>
			    <img src="assets/svg/brickOpt.svg" height="25px">
			    <span class="blog-nav-item ng-binding">{{playerData.resources.brick}}</span>
			  </div>
			</li>

					<li>
			  <div>
			    <img src="assets/svg/grainOpt.svg" height="25px">
			    <span class="blog-nav-item ng-binding">{{playerData.resources.grain}}</span>
			  </div>

			</li>
					<li>
			  <div>
			  <img src="assets/svg/lumberOpt.svg" height="25px">
			    <span class="blog-nav-item ng-binding">{{playerData.resources.lumber}}</span>
			  </div>
			</li>
					
			  		<li>
			  <div><img src="assets/svg/oreOpt.svg" height="25px">
			  
			  <span class="blog-nav-item ng-binding">{{playerData.resources.ore}}</span>
			  </div>
			</li>
			  		<li>
			  <div>
			  <img src="assets/svg/woolOpt.svg" height="25px">
			    <span class="blog-nav-item ng-binding">{{playerData.resources.wool}}</span>
			  </div>
			</li>
				</ul>

				<ul id="menu" class="hudARight">
					<li>
					  <div ng-click="clickToOpen(devCard)">
					  <img src="assets/svg/devcardOpt.svg" height="25px">
					    <span class="blog-nav-item ng-binding">0</span>
					  </div>
					</li>
					<li>
					  <div>
					  <img src="assets/svg/starOpt.svg" height="25px">
					    <span class="blog-nav-item ng-binding">{{$root.playerData.playerQualities.privatePoints}}</span>
					  </div>
					</li>
					<li>
						<div>
							<span class="blog-nav-item ng-binding">TURN: {{$root.currentTurn}}</span>
						</div>
					</li>
				</ul>
				<div class="cb"></div>
		<!--</div>-->
	</div>

	<!-- end HUD -->	
	<div class="chatHolder">

	<!--end chatWindow-->
	 	<div id="chatWindow">
	 		<div class="chatWindowHeader">
		 		<div href="#" id="button" class="img-container">
		 			<div class="centerer"></div>
					<img src="assets/svg/chatboxOpt.svg" height="30px">
				</div>	


<!-- 				<div href id="button" class="img-container">
					<div class="centerer"></div>
					<img src="assets/svg/diceOpt.svg" height="40px" />
				</div> -->

	 		</div>
	 		<div class='textScreen'></div>
	 		<div class="input-group chatCtl">
	 			<span class="input-group-btn">
	 				<button class="btn btn-default" type="button" ng-click="submitChat()">TO EVERYONE:</button>
	 			</span>
	 			<input type="text" class="form-control" ng-model="board_ctrl.textContent">
	 		</div>
			
		</div>
		<!-- end chat window view -->

	</div>
	<!-- end chatHolder view -->
	
	<div class="buttonHolder">
		<div class="btnMarquee opacityGradLtR">GAME ID: {{$root.currentGameID}}</div>
 	  <div ng-click="rollDice()" id="button" class="tlk">
 	  	<div class="centerer"></div>
 	  	<img src="assets/svg/diceOpt.svg" height="85px" />
 	  </div>
 	  <div class="buttonWrapper" dropdown is-open="status.isopen">
		  <ul id="menu2" class="hudALeft">
		  	<!--<li ng-click="board_ctrl.setMode('building')">-->
		  	<li class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
 		  	  <div>
		  	    <a href ng-click=""><img src="assets/svg/hammerOpt.svg" height="45px"></a>
		  	  </div>
		  	</li>

		  	<li>
		  	  <div>
		  	    <a href=""><img src="assets/svg/swapOpt.svg" height="45px"></a>
		  	  </div>
		  	</li>
		  	<li>
		  	  <div>
		  	  <a ng-click="nextTurn()" href=""><img src="assets/svg/ffwdOpt.svg" height="45px"></a>
		  	  </div>
		  	</li>
		  </ul>
		  <ul class="dropdown-menu" role="menu">
			<li><a href ng-click="board_ctrl.setMode('road')">BUILD ROAD</a></li>
			<li><a href ng-click="board_ctrl.setMode('building')">BUILD SETTLEMENT</a></li>
		</ul>
	  </div>
	</div>
	<!-- end button holder -->

	<table>
	  <tbody>
	    <tr ng-repeat="player in board_ctrl.players" ng-class="{thisPlayersTurn: $index===$root.currentPlayer}">
	      <td><img height="45px"src="assets/images/hoot.png"></td>
	      <td>{{player.playerName}}</td>
	      <td>{{player.resourceSum}}</td>
	      <td>
	      	<ul>
	      		<li ng-show="player.longestRoad">LR</li>
	      		<li ng-show="player.largestArmy">LA</li>
	      	</ul>
	      </td>
	    </tr>
	  </tbody>
	</table>
	<!--end playerBoard-->

	<div class="diceHolder opacityGradRtL">
		<div href id="button" class="img-container">
			<div class="centerer"></div>
			<img src="assets/svg/diceOpt.svg" height="40px" />
		</div>
		<span href class="numRoll">YOUR LAST DICE ROLL: {{$root.currentRoll}}</span>
	</div>
	<!-- end diceHolder view -->
</div>

<script type="text/ng-template" id="devCard">
	<button ng-click="buyCard($root.playerData.playerID)">Buy a Development Card</button>
    <li>Knight: {{playerData.devCards.knight}}</li>
    <li>Victory Point: {{playerData.devCards.point}}</li>
    <li>Monopoly: {{playerData.devCards.monopoly}}</li>
    <li>Road Building: {{playerData.devCards.roadBuilding}}</li>
    <li>Horn of Plenty: {{playerData.devCards.plenty}}</li>
</script>
