<div id="board_container">
	<div class="hud-masthead">
		<div class="container">
			
			<nav class="blog-nav">
			<div class="hudALeft">
				<img src="assets/svg/brickOPt.svg" height="25px" />
				<span href="#" class="blog-nav-item">+2</span>
				<img src="assets/svg/grainOPt.svg" height="25px" />
				<span href="#" class="blog-nav-item">+2</span>
				<img src="assets/svg/lumberOPt.svg" height="25px" />
				<span href="#" class="blog-nav-item">+2</span>
				<img src="assets/svg/oreOPt.svg" height="25px" />
				<span href="#" class="blog-nav-item">+2</span>
				<img src="assets/svg/woolOPt.svg" height="25px" />
				<span href="#" class="blog-nav-item">+2</span>
				<img src="assets/svg/starOPt.svg" height="22px" />
				<span href="#" class="blog-nav-item">+6</span>
			</div>
			<div class="hudARight">
				<span href="#" class="blog-nav-item">TURN: 12</span> | 
				<span href="#" class="blog-nav-item">LONGEST ROAD: 2</span>
			</div>
			<div class="cb"></div>

			</nav>
		</div>
	</div>

</div>
